/**
 * Loading Component Styles - Sphere Border Animation
 */

.loadingOverlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 9999;
}

.sphereborder {
   width: 10rem;
   position: relative;
}

.sphereborder b {
   top: 50%;
   left: 50%;
   width: 2rem;
   height: 2rem;
   transform: scale(0);
   border-radius: 50%;
   position: absolute;
   border: 2px solid #ffffff;
   animation: sphereborder 3s infinite linear;
}

.sphereborder b:nth-child(1) {
   animation-delay: 0s;
}

.sphereborder b:nth-child(2) {
   animation-delay: 0.4s;
}

.sphereborder b:nth-child(3) {
   animation-delay: 0.8s;
}

.sphereborder b:nth-child(4) {
   animation-delay: 1.2s;
}

.message {
   color: white;
   margin-top: 16px;
   font-size: 14px;
}

@keyframes sphereborder {
   0% {
      width: 1rem;
      height: 0.3rem;
      transform: translate(-50%, -3rem);
   }
   25% {
      width: 4rem;
      height: 1.5rem;
      transform: translate(-50%, -2.7rem);
   }
   50% {
      width: 6rem;
      height: 3rem;
      transform: translate(-50%, -2rem);
   }
   75% {
      width: 4rem;
      height: 1.5rem;
      transform: translate(-50%, 0rem);
   }
   100% {
      width: 1rem;
      height: 0.3rem;
      transform: translate(-50%, 1rem);
   }
}
