.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.5rem;
}

/* Add these styles to prevent axis selection */
.x-axis,
.y-axis {
  pointer-events: none;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
  stroke: #666;
  pointer-events: none;
}

.x-axis text,
.y-axis text {
  fill: #666;
  font-size: 12px;
  pointer-events: none;
}

