.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding: 20px;
}

.main {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.chartContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 20px;
}

.chartContainerLeft {
   min-width: 800px;
   height: 600px;
}

.title {
   font-size: 24px;
   font-weight: bold;
   color: #b6b6b680;
   margin-bottom: 20px;
}

/* Add these styles to prevent axis selection */
.x-axis,
.y-axis {
   pointer-events: none;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
   stroke: #b6b6b6;
   pointer-events: none;
}

.x-axis text,
.y-axis text {
   fill: #b6b6b6;
   font-size: 12px;
   pointer-events: none;
}
